/*
 * The main dark mode styles
 */

@mixin dark-scheme {
  /* Framework color */
  --body-bg: var(--main-wrapper-bg);
  --mask-bg: rgb(68, 69, 70);
  --main-wrapper-bg: rgb(22, 25, 35);
  --main-border-color: hsl(226, 23%, 16%);
  --scrollbar-track-bg: rgba(0, 0, 0, 0.3);
  --scrollbar-thumb-bg: rgb(173 171 171 / 50%);

  /* Common color */
  --text-color: rgba(188, 189, 208);
  --text-muted-color: rgb(107, 116, 124);
  --heading-color: #cccccc;
  --blockquote-border-color: rgb(66, 66, 66);
  --blockquote-text-color: rgb(117, 117, 117);
  --link-color: rgb(138, 180, 248);
  --link-underline-color: rgb(82, 108, 150);
  --button-bg: rgb(23, 25, 35);
  --btn-border-color: hsl(226, 23%, 16%);
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: var(--btn-border-color);
  --btn-box-shadow: var(--main-wrapper-bg);
  --card-header-bg: rgb(40, 45, 63);
  --label-color: rgb(108, 117, 125);
  --checkbox-color: rgb(118 120 121);
  --checkbox-checked-color: var(--link-color);

  /* Sidebar */
  --sidebar-bg: radial-gradient(circle, #000000 0%, #161923 100%);
  --sidebar-muted-color: #4a4b4d;
  --sidebar-active-color: rgb(255 255 255 / 80%);
  --nav-cursor-color: rgb(183, 182, 182);
  --sidebar-btn-bg: rgb(117 116 116 / 20%);

  /* Topbar */
  --topbar-text-color: var(--text-color);
  --topbar-wrapper-bg: rgba(10, 11, 12, 0.9);
  --search-wrapper-bg: rgb(22, 25, 35);
  --search-wrapper-border-color: rgb(34, 34, 39);
  --search-icon-color: rgb(100, 102, 105);
  --input-focus-border-color: rgb(112, 114, 115);

  /* Home page */
  --post-list-text-color: rgb(175, 176, 177);
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: rgb(0, 0, 0);
  --btn-paginator-border-color: var(--btn-border-color);
  --btn-text-color: var(--text-color);
  --pin-bg: rgb(34 35 37);
  --pin-color: inherit;

  /* Posts */
  --toc-highlight: rgb(182, 164, 137);
  --tag-bg: rgb(41, 40, 40);
  --tag-hover: rgb(43, 56, 62);
  --tb-odd-bg: rgba(42, 47, 53, 0.52); /* odd rows of the posts' table */
  --tb-even-bg: rgb(31, 31, 34); /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: rgb(63, 81, 181);
  --btn-share-color: #737480;
  --btn-share-hover-color: #bfc1ca;
  --relate-post-date: var(--text-muted-color);
  --card-bg: rgb(23, 25, 35);
  --card-border-color: hsl(226, 23%, 16%);
  --card-box-shadow: var(--main-wrapper-bg);

  /* tags */
  --tag-border: rgb(59, 79, 88);
  --tag-shadow: rgb(32, 33, 33);
  --search-tag-bg: var(--tag-bg);
  --dash-color: rgb(63, 65, 68);

  /* categories */
  --categories-border: rgb(40, 45, 63);
  --categories-hover-bg: rgb(40, 45, 63);
  --categories-icon-hover-color: white;

  /* archives */
  --timeline-node-bg: rgb(150, 152, 156);
  --timeline-color: rgb(63, 65, 68);
  --timeline-year-dot-color: var(--timeline-color);

  /* Footer */
  --footer-bg-color: var(--main-wrapper-bg);
  --footer-link: rgb(171, 171, 171);

  .post-content img {
    filter: brightness(90%);
  }

  hr {
    border-color: var(--main-border-color);
  }

  /* posts' toc, override BS */
  nav[data-toggle=toc] .nav-link.active,
  nav[data-toggle=toc] .nav-link.active:focus,
  nav[data-toggle=toc] .nav-link.active:hover,
  nav[data-toggle=toc] .nav > li > a:focus,
  nav[data-toggle=toc] .nav > li > a:hover {
    color: var(--toc-highlight) !important;
    border-left-color: var(--toc-highlight) !important;
  }

  /* categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image:
      linear-gradient(
        to left,
        rgb(23, 25, 35),
        rgb(40, 45, 63),
        rgb(40, 45, 63),
        rgb(40, 45, 63),
        rgb(23, 25, 35),
      );

  }

} // dark-scheme
